---
---

<section class='explore-more-section'>
  <a href='/blog'>
    <button class='explore-more-section__button primary-button'>Explore more</button>
  </a>
</section>

<style>
  .explore-more-section {
    padding: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }

  .explore-more-section__button {
    width: unset;
    padding: 15px;
    font-size: 1em;
  }
</style>
