---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/home/HeroSection.astro';
import FeaturesSection from '../components/home/FeaturesSection.astro';
import ExploreMoreSection from '../components/home/ExploreMoreSection.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class='main-content'>
    <HeroSection />
    <FeaturesSection />
    <ExploreMoreSection />
  </main>
</Layout>
